.container {
    max-width: 800px;
    min-width: 500px;
    margin: 40px auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.details-title {
    font-size: 3rem;
    color: #040950;
    font-weight: bold;
    margin-bottom: 20px;
}

.details-subtitle {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 15px;
}

.details-post {
    font-size: 1rem;
    color: #666;
    line-height: 1.8;
    text-align: justify;
    /* Justifica o texto */
    margin-bottom: 20px;
    padding: 0 10px;
    /* Espaçamento interno lateral */
}

.btn {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 24px;
    /* Botões maiores e mais clicáveis */
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    margin: 10px 0;
    background-color: #040950;
    color: white;
}

.btn-secondary:hover,
.btn-warning:hover {
    background-color: #020630;
    transform: scale(1.02);
}

.btn-danger:hover {
    background-color: #8f242f;
    transform: scale(1.02);
}

/* RESPONSIVIDADE */
/* Desktop (Largura acima de 1024px) */
@media (min-width: 1024px) {
    .container {
        width: 60%;
        padding: 50px;
    }

    .details-title {
        font-size: 3.5rem;
    }

    .details-subtitle {
        font-size: 1.7rem;
    }

    .details-post {
        font-size: 1.1rem;
    }

    .btn {
        font-size: 1.1rem;
        padding: 14px 28px;
    }
}

/* Celular (Largura abaixo de 768px) */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .details-title {
        font-size: 2rem;
    }

    .details-subtitle {
        font-size: 1.2rem;
    }

    .details-post {
        font-size: 0.95rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}