.container {
    width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #040950;
}

.subtitle {
    text-align: center;
    width: 80%;
    margin-bottom: 15px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    width: 70%;
}


.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-control:focus {
    outline: none;
    border-color: #040950;
    box-shadow: 0 0 4px rgba(4, 9, 80, 0.5);
}

/* Botões */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #040950;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #020630;
    transform: scale(1.02);
}

.btn-primary {
    margin-top: 10px;
    display: block;
    width: 100%;
}

.form-btn {
    text-align: center;
}


/* RESPONSIVIDADE */

/* Desktop (Largura acima de 1024px) */
@media (max-width: 1024px) {
    .container {
        width: 80%;
        padding: 15px;
    }

    .title {
        font-size: 2.5rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    .form-group {
        width: 80%;
    }

    .form-control {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .form-btn {
        width: 100%;
    }
}

/* Celular (Largura abaixo de 768px) */
@media (max-width: 768px) {
    body,
    html {
        display: block;
        padding: 0;
    }

    .container {
        width: 100%;
        margin-top: 10px;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .form-group {
        width: 100%;
    }

    .form-control {
        padding: 8px;
        font-size: 0.85rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 10px;
    }

    .form-btn {
        width: 100%;
    }
}
