.container {
    min-width: 600px;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #040950;
}

.container p {
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-control:focus {
    outline: none;
    border-color: #040950;
    box-shadow: 0 0 4px rgba(4, 9, 80, 0.5);
}

/* Botões */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #040950;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #020630;
    transform: scale(1.02);
}

.btn-primary {
    margin-top: 10px;
    display: block;
    width: 100%;
}



.container a {
    font-weight: bold;
    color: #040950;
}

.container a:hover {
    text-decoration: underline;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 1.8rem;
    }
}