.top-header {
   min-height: 80px;
    width: 100%;
    background-color: #040950;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-top-header {
    width: 100%;
    height: 80%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #e4e4e4;
    font-weight: bold;
    transition: 0.3s;
}

.ul-top-header li {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 120px;
}

.logo{
    height: auto;
}

.logo img{
    width: 100%;
    height: auto;
}


/*RESPONSIVIDADE*/

/* Desktop (Largura acima de 1024px) */
@media (min-width: 1024px) {
    .a-top-header {
        font-size: 1rem;
    }
}

/* Celular (Largura até 768px) */
@media (max-width: 768px) {
    .top-header {
        height: auto;
        padding: 10px 0;
    }

    .ul-top-header {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        text-align: center;
    }

    .li-top-header {
        width: 100%;
    }

    .a-top-header {
        font-size: 0.9rem;
    }
}
