html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

.main-content {
    flex: 1;
    padding: 20px;
}

footer {
    margin-top: auto;
}

.alert {
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

/*RESPONSIVIDADE*/

/* Desktop (largura acima de 1024px) */
@media (min-width: 1024px) {
    .main-content {
        padding: 40px;
        font-size: 1rem;
    }

    footer {
        font-size: 1.1rem;
        padding: 30px;
    }

    .alert {
        font-size: 1.1rem;
    }
}

/* Celular (Largura até 768px) */
@media (max-width: 768px) {
    .main-content {
        padding: 15px;
        font-size: 0.9rem;
    }

    footer {
        padding: 15px;
        font-size: 0.9rem;
    }

    .alert {
        font-size: 0.9rem;
    }
}