.footer {
    width: 100%;
    height: auto;
    min-height: 150px;
    background-color: #040950;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: auto;
    box-sizing: border-box;
}

.footer-logo {
    width: 50%;
}

.footer-title {
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.footer-contato,
.footer-news {
    font-size: 1em;
    width: 25%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.footer-contato ul {
    height: 50%;
    width: 60%;
    padding: 0;
    margin: 0;
    align-content: center;
}

.footer-contato li {
    line-height: 2em;
    list-style: none;
    text-align: center;
    font-size: 0.7em;
}

.footer-news div {
    height: 50%;
}

.footer-news input {
    border: none;
    height: 25px;
    border-radius: 20px;
    margin-right: 10px;
}

.footer-news button {
    border: none;
    height: 25px;
    width: 60px;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
}

.footer-news button:hover {
    cursor: pointer;
}

/*RESPONSIVIDADE*/

/* Desktop (Largura acima de 1024px) */
@media (min-width: 1024px) {
    .footer {
        padding: 30px 50px;
    }

    .footer-title {
        font-size: 1.2em;
    }

    .footer-contato li {
        font-size: 0.9em;
    }

    .footer-news input {
        height: 30px;
        border-radius: 25px;
    }

    .footer-news button {
        height: 30px;
        width: 80px;
    }
}

/* Celular (Largura até 768px) */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 20px;
    }

    .footer-logo {
        width: 100%;
    }

    .footer-contato,
    .footer-news {
        width: 100%;
    }

    .footer-contato ul {
        width: 80%;
    }

    .footer-contato li {
        font-size: 0.8em;
    }

    .footer-news input {
        width: calc(100% - 90px);
        height: 25px;
        border-radius: 20px;
        margin-right: 10px;
    }

    .footer-news button {
        width: 80px;
        height: 30px;
    }
}